/* Reset default styles */
body, h1, p, a {
  margin: 0;
  padding: 0;
} 

/* Global styles */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #333;
  color:coral;
  text-align: center;
  background-image: url('backgroundPhoto.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 1.0;
}

#about-me-content p,
#resume-content p {
  color:rgb(250, 84, 23);
  margin-top: 40px;
}

.hidden {
  display: none;
}

.section {
  padding: 40px;
}

/* Header styles */
#header {
  padding: 50px;
}

#name {
  font-size: 36px;
  font-weight: bold;
}

#profession {
  font-size: 20px;
  margin-top: 10px;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Icon styles */
#icons {
  margin-top: 30px;
}

.social-icon {
  font-size: 24px;
  margin: 10px;
  color: #ffffff;
  text-decoration: none;
}

.social-icon:hover {
  color: #5696da;
}

/* Adjusting the font size for mobile devices */

@media (max-width: 768px) {
  #name {
    font-size: 24px; 
  }
}


